<div class="posts-container">
  <a class="post-container"
     href="https://uxdesign.cc/asking-the-question-why-instead-of-what-when-building-products-9d0cb59b3039"
     target="_blank">
    <div class="post-header">
      <div class="post-writer-image profile-picture"></div>
      <div class="post-info">
        <div class="post-info-name">
          Nazli Kaya
        </div>
        <div class="post-info-date">
          Mar 1 • 6 min read
        </div>
      </div>
    </div>
    <div class="post-title">
      Asking Why instead of What when building great products
    </div>
    <div class="post-image">
      <img src="resources/blog-post-7.jpeg" alt="Asking Why instead of What when building great products hero image">
    </div>
  </a>
  <a class="post-container"
     href="https://uxdesign.cc/animation-handoff-how-to-make-sure-what-you-design-is-what-the-developers-build-731547aae34e"
     target="_blank">
    <div class="post-header">
      <div class="post-writer-image profile-picture"></div>
      <div class="post-info">
        <div class="post-info-name">
          Nazli Kaya
        </div>
        <div class="post-info-date">
          Feb 1 • 6 min read
        </div>
      </div>
    </div>
    <div class="post-title">
      Animation handoff: how to make sure what you design is what the developers build
    </div>
    <div class="post-image">
      <img src="resources/blog-post-6.jpeg" alt="Animation handoff: how to make sure what you design is what the developers build hero image.">
    </div>
  </a>
  <a class="post-container"
     href="https://uxdesign.cc/how-to-name-ui-components-fd06b84e92dc"
     target="_blank">
    <div class="post-header">
      <div class="post-writer-image profile-picture"></div>
      <div class="post-info">
        <div class="post-info-name">
          Nazli Kaya
        </div>
        <div class="post-info-date">
          Jan 1 • 6 min read
        </div>
      </div>
    </div>
    <div class="post-title">
      How to name UI components
    </div>
    <div class="post-image">
      <img src="resources/blog-post-5.jpeg" alt="How to name UI components hero image">
    </div>
  </a>
  <a class="post-container"
     href="https://medium.com/@nazlikaya90/why-you-shouldnt-skip-your-wireframing-1f7a70d5c125"
     target="_blank">
    <div class="post-header">
      <div class="post-writer-image profile-picture"></div>
      <div class="post-info">
        <div class="post-info-name">
          Nazli Kaya
        </div>
        <div class="post-info-date">
          Jan 24 • 5 min read
        </div>
      </div>
    </div>
    <div class="post-title">
      Why you shouldn’t skip your wireframing
    </div>
    <div class="post-image">
      <img src="resources/blog-post-4.jpeg" alt="Why you shouldnt skip your wireframing hero image">
    </div>
  </a>
  <a class="post-container"
     href="https://medium.com/@nazlikaya90/3-ways-to-evaluate-your-design-using-data-91495dcc5582"
     target="_blank">
    <div class="post-header">
      <div class="post-writer-image profile-picture"></div>
      <div class="post-info">
        <div class="post-info-name">
          Nazli Kaya
        </div>
        <div class="post-info-date">
          Dec 12 • 4 min read
        </div>
      </div>
    </div>
    <div class="post-title">
      3 Ways to Evaluate Your Design Using Data
    </div>
    <div class="post-image">
      <img src="resources/blog-post-3.png" alt="Evaluate design with data hero image">
    </div>
  </a>
  <a class="post-container"
     href="https://medium.com/@nazlikaya90/optimizing-your-design-workflow-when-working-with-multiple-designers-38519a79ff9d"
     target="_blank">
    <div class="post-header">
      <div class="post-writer-image profile-picture"></div>
      <div class="post-info">
        <div class="post-info-name">
          Nazli Kaya
        </div>
        <div class="post-info-date">
          Nov 29 • 6 min read
        </div>
      </div>
    </div>
    <div class="post-title">
      Optimizing your design workflow when working with multiple designers
    </div>
    <div class="post-image">
      <img src="resources/blog-post-2.png" alt="Optimizing workflow hero image">
    </div>
  </a>
  <a class="post-container"
     href="https://blog.prototypr.io/invision-studio-first-impressions-from-berlin-event-7461e8f49ea4"
     target="_blank">
    <div class="post-header">
      <div class="post-writer-image profile-picture"></div>
      <div class="post-info">
        <div class="post-info-name">
          Nazli Kaya
        </div>
        <div class="post-info-date">
          Nov 18 • 3 min read
        </div>
      </div>
    </div>
    <div class="post-title">
      InVision Studio — first impressions from Berlin event
    </div>
    <div class="post-image">
      <img src="resources/blog-post-1.png" alt="InVision Studio hero image">
    </div>
  </a>
</div>
