<% include head %>
<div class="page-content">
  <div id="blog" class="blog-container">
    <div class="blog-title">
      Blog
    </div>
    <% include blogposts %>
  </div>
</div>
<% include foot %>
