<% include head %>
<div class="page-content">
  <div class="hero-container fest-pack">
    <div class="hero-text">
      FestPack
    </div>
    <div class="hero-text-detail">
      UI/UX Design, Interaction Design, Prototyping
    </div>
  </div>
  <div class="article-container">
    <h1>FestPack</h1>
    <div class="article">
      <p>This is a side project which is focused on simplifying the booking process for concerts and festivals.</p>
    </div>
    <div class="article">
      <p>Normally when someone wants to attend a concert in another city, they would need to take care of the following:</p>
      <ul>
        <li>Finding out in which cities do your favorite artists are having concerts</li>
        <li>Figure out which websites are providing concert tickets for this event.</li>
        <li>Compare the prices of different ticket types and by estimating other expenses you will have during this trip, try to decide on which ticket type you would like to get.</li>
        <li>Find a transportation option that suits your needs and budget.</li>
        <li>Find an accommodation option that is close to the event venue and suits your needs, and budget.</li>
        <li>Go through registration and payment processes of multiple websites in order to book the concert ticket, flight ticket, and hotel.</li>
      </ul>
    </div>
    <div class="article">
      <p>The whole process is very time and effort consuming. What FestPack does is, it knows the favorite artists of the user (which can either be imported from Spotify or added by the user), and it simplifies this process.
  Using FestPack users can check out different packages that were prepared for them, based on their music taste and location. These packages contain the transportation, accommodation and concert ticket. The user only sees one price for the whole package which allows them to easily judge whether it is within their budget or not.</p>
    </div>

    <h2>Customization</h2>
    <div class="article with-video">
      <div><p>The potential user group of this application covers almost everyone who loves live music. Thus, there is a large difference in preferences between users regarding concert tickets, hotel types, and transportation choice.</p>
        <br>
        <p>FestPack provides multiple options (bronze, silver, and gold) differing from most affordable to the highest quality in order to serve the needs of all users. It is possible to choose the tier for the concert ticket, hotel, and transportation separately which allows further customization.</p>
      </div>
      <div>
        <video controls="controls" preload="none" width="270" height="480" name="Video Name" src="resources/festpack_customization.mov#t=0.1"></video>
      </div>
    </div>

    <div class="image-block">
      <img src="resources/festpack_package_detail.png" data-content='resources/festpack_package_detail.png' data-width='1080' data-height='1920' alt="Festpack">
      <img src="resources/festpack_modify_room.png" data-content='resources/festpack_modify_room.png' data-width='1080' data-height='1920' alt="Festpack">
      <img src="resources/festpack_modify_hotel.png" data-content='resources/festpack_modify_hotel.png' data-width='1080' data-height='1920' alt="Festpack">
    </div>

    <h2>Bookmarks</h2>
    <div class="article with-video">
      <p>Attending a concert mostly requires some planning beforehand, like checking your calendar, considering your budget, or asking friends to see if anyone else is attending the same concert as you are planning. Therefore, it is not always possible to book such a package on the spot, users need some time to think. When browsing a package, it is possible to bookmark it and then the user can come back to that package from the profile page at any time.</p>
      <div>
        <img width="270" height="480" src="resources/festpack_profile.png">
      </div>
    </div>

    <h2>Artists</h2>
    <div class="article with-video">
      <p>FestPack keeps the list of the user’s favorite artists in the Artists tab. In this tab, users can search for artists and add them to their list as well. By tapping on a particular artist, it is possible to get more information about the artist and also see all the upcoming concerts from this artist as packages, which one can book immediately.</p>
      <div>
        <video controls="controls" preload="none" width="270" height="480" name="Video Name" src="resources/festpack_artist.mov#t=0.1"></video>
      </div>
    </div>

    <div class="image-block">
      <img src="resources/festpack_home.png" data-content='resources/festpack_home.png' data-width='1080' data-height='1920' alt="Festpack">
      <img src="resources/festpack_artist_list.png" data-content='resources/festpack_artist_list.png' data-width='1080' data-height='1920' alt="Festpack">
      <img src="resources/festpack_artist.png" data-content='resources/festpack_artist.png' data-width='1080' data-height='1920' alt="Festpack">
    </div>

    <h2>Alerts and Filters</h2>
    <div class="article with-video">
      <div>
        <p>FestPack allows users to search/filter the packages based on artist, date, or budget. Based on search criteria, users can also set up an alert and the application will notify the user when there is a new matching result.</p>
        <br>
        <p>This feature allows users to catch deals from flights, hotels or concert tickets. While providing value to the user, this feature also provides a good way to gain returning customers.</p>
      </div>
      <div>
        <video controls="controls" preload="none" width="270" height="480" name="Video Name" src="resources/festpack_alerts.mov#t=0.1"></video>
      </div>
    </div>

    <h2>Payment and Account</h2>
    <div class="article with-video">
      <div>
        <p>FestPack provides a single point of contact for the user’s complete trip. Users get to handle the payments for concert tickets, hotels, and transportation at the same time. This saves the user time both in terms of payment processes and also regarding registration processes that are mostly required by websites providing such services.</p>
        <br>
        <p>FestPack also provides the option to sign in using a Spotify account, which further reduces the entry barrier to the application.</p>
      </div>
      <div>
        <img width="270" height="480" src="resources/festpack_signin.png">
      </div>
    </div>
    <div class="article paginator">
      <a  data-url="mobile-waiter">&#x25C4; Previous project - Mobile Waiter</a>
    </div>
  </div>
</div>
<% include foot %>
