<html lang="en">
  <head>
    <title>Nazli Kaya | Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
    <script
    src="http://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="main.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-logo">Nazli Kaya</div>
      <div class="navbar-links">
        <div data-hash="#home" class="navbar-link" data-url="index">Home</div>
        <div data-hash="#projects" class="navbar-link" data-url="index">Projects</div>
        <div data-hash="#contact" class="navbar-link" data-url="index">Contact</div>
      </div>
    </nav>
    <div class="content-container">
