<% include head %>
<div id="home" class="page-content">
  <div class="hero-container home">
    <div class="hero-text">
      Nazli Kaya
    </div>
    <div class="hero-text-detail">
      UI/UX Designer
    </div>
  </div>
  <!-- Begin Mailchimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="https://gmail.us7.list-manage.com/subscribe/post?u=0f10552d768f2363aa5a75f4d&amp;id=478db74634" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          	<h1>Sign up for my upcoming online course!</h1>
            <div id="subscribeFormWelcome">Sign up to get early access and a huuge discount to my upcoming online course about <strong>landing your first job as a UX designer</strong></div>
        </div>
        <div class="form-container">
          <div class="mc-field-group">
          	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
          </label>
          	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
          	<label for="mce-FNAME">Your Name </label>
          	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
          </div>
          <!-- <div class="mc-field-group">
          	<label for="mce-LNAME">Last Name </label>
          	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
          </div> -->
        	<div id="mce-responses" class="clear">
        		<div class="response" id="mce-error-response" style="display:none"></div>
        		<div class="response" id="mce-success-response" style="display:none"></div>
        	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0f10552d768f2363aa5a75f4d_478db74634" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Sign me up for updates" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
  </div>
  <div class="divider"></div>
  <!--End mc_embed_signup-->
  <div id="projects" class="projects-grid">
    <div class="project-container mobile-waiter" data-url="mobile-waiter">
      <div class="project-title">
        Mobile Waiter
      </div>
      <div class="project-description">
        UI/UX Design, Interaction Design, Prototyping
      </div>
    </div>
    <div class="project-container fest-pack" data-url="fest-pack">
      <div class="project-title">
        FestPack
      </div>
      <div class="project-description">
        UI/UX Design, Interaction Design, Prototyping
      </div>
    </div>
    <div class="project-container prime-video" data-url="prime-video">
      <div class="project-title">
        Amazon Prime Video Redesign
      </div>
      <div class="project-description">
        UI Design, Branding, Redesign
      </div>
    </div>
    <div class="project-container rock-and-hunter" data-url="rock-and-hunter">
      <div class="project-title">
        Rock & Hunter<br>Online Tshirt Shop
      </div>
      <div class="project-description">
        UI/UX Design, Branding, E-commerce
      </div>
    </div>
  </div>
  <div id="blog" class="blog-container">
    <div class="blog-title">
      Recent posts from my blog
    </div>
    <div class="posts-container">
      <a class="post-container"
         href="https://uxdesign.cc/how-to-name-ui-components-fd06b84e92dc"
         target="_blank">
        <div class="post-header">
          <div class="post-writer-image profile-picture"></div>
          <div class="post-info">
            <div class="post-info-name">
              Nazli Kaya
            </div>
            <div class="post-info-date">
              Jan 1 • 6 min read
            </div>
          </div>
        </div>
        <div class="post-title">
          How to name UI components
        </div>
        <div class="post-image">
          <img src="resources/blog-post-5.jpeg" alt="How to name UI components hero image">
        </div>
      </a>
      <a class="post-container"
         href="https://medium.com/@nazlikaya90/why-you-shouldnt-skip-your-wireframing-1f7a70d5c125"
         target="_blank">
        <div class="post-header">
          <div class="post-writer-image profile-picture"></div>
          <div class="post-info">
            <div class="post-info-name">
              Nazli Kaya
            </div>
            <div class="post-info-date">
              Jan 24 • 5 min read
            </div>
          </div>
        </div>
        <div class="post-title">
          Why you shouldn’t skip your wireframing
        </div>
        <div class="post-image">
          <img src="resources/blog-post-4.jpeg" alt="Why you shouldnt skip your wireframing hero image">
        </div>
      </a>
      <a class="post-container"
         href="https://medium.com/@nazlikaya90/3-ways-to-evaluate-your-design-using-data-91495dcc5582"
         target="_blank">
        <div class="post-header">
          <div class="post-writer-image profile-picture"></div>
          <div class="post-info">
            <div class="post-info-name">
              Nazli Kaya
            </div>
            <div class="post-info-date">
              Dec 12 • 4 min read
            </div>
          </div>
        </div>
        <div class="post-title">
          3 Ways to Evaluate Your Design Using Data
        </div>
        <div class="post-image">
          <img src="resources/blog-post-3.png" alt="Evaluate design with data hero image">
        </div>
      </a>
      <a class="post-container"
         href="https://medium.com/@nazlikaya90/optimizing-your-design-workflow-when-working-with-multiple-designers-38519a79ff9d"
         target="_blank">
        <div class="post-header">
          <div class="post-writer-image profile-picture"></div>
          <div class="post-info">
            <div class="post-info-name">
              Nazli Kaya
            </div>
            <div class="post-info-date">
              Nov 29 • 6 min read
            </div>
          </div>
        </div>
        <div class="post-title">
          Optimizing your design workflow when working with multiple designers
        </div>
        <div class="post-image">
          <img src="resources/blog-post-2.png" alt="Optimizing workflow hero image">
        </div>
      </a>
      <a class="post-container"
         href="https://blog.prototypr.io/invision-studio-first-impressions-from-berlin-event-7461e8f49ea4"
         target="_blank">
        <div class="post-header">
          <div class="post-writer-image profile-picture"></div>
          <div class="post-info">
            <div class="post-info-name">
              Nazli Kaya
            </div>
            <div class="post-info-date">
              Nov 18 • 3 min read
            </div>
          </div>
        </div>
        <div class="post-title">
          InVision Studio — first impressions from Berlin event
        </div>
        <div class="post-image">
          <img src="resources/blog-post-1.png" alt="InVision Studio hero image">
        </div>
      </a>
    </div>
  </div>
</div>
<% include foot %>
