<% include head %>
<div id="home" class="page-content">
  <div class="hero-container">
    <div class="hero-text">
      NAZLI KAYA
    </div>
    <div class="hero-text-detail">
      Munich based UX Designer
    </div>
  </div>
  <div id="projects" class="projects-grid">
    <div class="project-container mobile-waiter" data-url="mobile-waiter">
      <div class="project-title">
        Mobile Waiter
      </div>
      <div class="project-description">
        UI/UX Design, Interaction Design, Prototyping
      </div>
    </div>
    <div class="project-container fest-pack" data-url="fest-pack">
      <div class="project-title">
        FestPack
      </div>
      <div class="project-description">
        UI/UX Design, Interaction Design, Prototyping
      </div>
    </div>
  </div>
  <div class="about-container">
    <div class="about-title">
      ABOUT NAZLI
    </div>
    <div class="about-content-container">
      <div class="about-image"></div>
      <div class="about-text-container">
        <div class="about-text">
          Nazli is a user experience designer currently working at Brabbler AG in Munich, Germany.
        </div>
        <div class="about-cta">
          DOWNLOAD RESUME
        </div>
      </div>
    </div>
  </div>
  <div id="uxprocess" class="process-container ux-process">
    <div class="process-title">
      DESIGN PROCESS
    </div>
    <div class="process-items-container">
      <div class="process-item">
        User Journeys
      </div>
      <div class="process-item">
        Paper sketching
      </div>
      <div class="process-item">
        Low Fidelity Concept
      </div>
      <div class="process-item">
        High Fidelity Concept
      </div>
      <div class="process-item">
        Prototyping and User Testing
      </div>
      <div class="process-item">
        Iterate
      </div>
    </div>
    <div class="process-cta" data-url="ux-process">
      Detailed description of my UX process
    </div>
  </div>
  <div id="contact" class="contact-container">
    <div class="contact-title">
      CONTACT
    </div>
    <div class="contact-text">
      <p>You can contact me via email <a href="mailto:nazlikaya90@gmail.com">nazlikaya90@gmail.com</a> or phone <a href="tel:+4917628507918">+49 176 2850 7918</a>.</p>
    </div>
  </div>
</div>
<% include foot %>
