$text-color: #323335;
$higlight-color: #CF4C32;
$white: #f9f9f9;
$grey: #e2e2e2;

* { margin: 0; padding: 0px; box-sizing: border-box;}

@-ms-viewport{
  width: device-width;
}

body {
  font-family: 'Raleway', sans-serif;
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  width: 100%;
  margin: 0 auto;
  background: $white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03em;
}

a {
  text-decoration: underline;
  color: inherit;
  font-weight: 700;

  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
  border-bottom: 10px solid $text-color;

  .navbar-logo {
    padding: 15px;
  }

  .navbar-links {
    display: flex;
    flex-direction: row;

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: inherit;
      }
      &:visited {
        color: inherit;
      }
    }

    .navbar-link {
      padding: 15px;

      @media (max-width: 600px) {
        &.home {
          display: none;
        }
      }

      &.active {
        position: relative;
        font-weight: 700;
      }

      &.active::after {
        content: '';
        width: 80%;
        height: 1px;
        background: $text-color;
        position: absolute;
        top: 80%;
        left: 10%;
      }
    }
  }
}

.content-container {
  margin-top: 59px;
  margin-bottom: 60px;
  background: $white;
  @media (min-width: 1025px) {
    width: 75%;
    margin: 59px auto 60px;
    max-width: 1160px;
  }
}

.button-cta {
  height: 40px;
  padding: 5px 25px;
  border-radius: 10px;
  border: 2px solid $white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  font-weight: 700;
  background: $text-color;
  color: $white;
  cursor: pointer;

  &:hover {
    background: $white;
    border-color: $text-color;
    color: $text-color;
  }
}

.hero-container {
  width: 100%;
  height: 300px;
  background: $white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;

  &.home {
    background: $white;
    color: $text-color;
    border-bottom: 10px solid $text-color;
    height: 200px;
  }

  .hero-text {
    font-size: 52px;
    font-weight: 500;
    text-align: center;
  }

  &.home .hero-text {
    padding: 15px;
    background: $text-color;
    color: $white;
    font-size: 40px;
    font-weight: 700;
  }

  .hero-text-detail {
    text-align: center;
    font-weight: 500;
    margin-top: 15px;
  }

  &.fest-pack {
    background: url('resources/festpack_hero.png');
    background-size: cover;
    background-position-y: -40px;

    .hero-text {
      font-weight: 700;
    }
  }

  &.mobile-waiter {
    background: url('resources/mobilewaiter_hero.png');
    background-size: cover;
    background-position-y: -160px;

    .hero-text {
      font-weight: 700;
    }
  }

  &.prime-video {
    background: url('resources/prime_video_hero.png');
    background-size: cover;
    background-position-y: 0;
    background-position-x: center;

    .hero-text {
      font-weight: 700;
    }
  }

  &.rock-and-hunter {
    background: url('resources/rock_and_hunter_hero.png');
    background-size: cover;
    background-position-y: 0;
    background-position-x: center;

    .hero-text {
      font-weight: 700;
    }
  }

  &.ux-process {
    background: url('resources/ux_process_hero.png');
    background-size: cover;
    background-position-y: -160px;

    .hero-text {
      font-weight: 700;
    }
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 30px;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  background: #e4e4e4;
  height: 60vw;
  max-height: 400px;
  margin: 5px;
  flex-direction: column;
  position: relative;

  & * {
    z-index: 2;
  }

  &:hover::before {
    filter: brightness(90%);
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
  }

  &.mobile-waiter::before {
    background: url('resources/mobilewaiter_home_blur.png');
    background-size: cover;
    background-position-y: -190px;
  }

  &.fest-pack::before {
    background: url('resources/festpack_home_blur.png');
    background-size: cover;
    background-position-y: 0px;
  }

  &.prime-video::before {
    background: url('resources/prime_video_home_blur.png');
    background-size: cover;
    background-position-y: 0px;
  }

  &.rock-and-hunter::before {
    background: url('resources/rock_and_hunter_home_blur.png');
    background-size: cover;
    background-position-y: 0px;
  }

  &:nth-child(odd) {
    margin-left: 0;
  }

  &:nth-child(even) {
    margin-right: 0;
  }

  .project-title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    @media (max-width: 600px) {
      font-size: 30px;
    }
  }

  .project-description {
    text-align: center;
  }
}

.software-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 110px;

  & div {
    width: 60px;
    height: 60px;
    background-size: contain;
  }

  & div::before {
    content: '';
    display: inline-block;
    margin-left: 65px;
  }

  & .sketch {
    background-image: url('resources/sketch-logo.png');

    &::before {
      content: 'Sketch';
    }
  }

  & .balsamiq {
    background-image: url('resources/balsamiq-logo.png');

    &::before {
      content: 'Balsamiq';
    }
  }

  & .flinto {
    background-image: url('resources/flinto-logo.png');

    &::before {
      content: 'Flinto';
    }
  }

  & .figma {
    background-image: url('resources/figma-logo.png');

    &::before {
      content: 'Figma';
    }
  }

  & .photoshop {
    background-image: url('resources/photoshop-logo.png');

    &::before {
      content: 'Photoshop';
    }
  }
}

.profile-picture {
  background: url('resources/profile_sm.jpg');
}

.about-container {
  background: $text-color;
  color: $white;
  padding: 30px;
  margin-top: 90px;

  .about-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .about-content-container {
    margin: 30px;
    display: flex;
    flex-direction: row;

    .about-image {
      width: 300px;
      height: 300px;
      border: 15px solid $white;
      -webkit-transform: rotate(-7.5deg);
      -ms-transform: rotate(-7.5deg);
      transform: rotate(-7.5deg);
      background-size: cover;
      background-position-x: 50%;
    }

    .about-text-container {
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;

      .about-text {
        font-weight: 500;
        text-align: left;
      }

      .about-cta {
        @extend .button-cta;
      }
    }

    @media (max-width: 700px) {
      flex-wrap: wrap;
      .about-image {
        margin-bottom: 30px;
        // width: 100px;
        // height: 100px;
      }
      .about-text-container {
        margin-left: 0;
        .about-text {
          margin-top: 30px;
        }
        .about-cta {
          margin-top: 30px;
        }
      }
    }
  }
}

.process-container {
  padding: 30px;
  color: $text-color;
  background: $white;

  .process-cta {
    @extend .button-cta;
  }

  .process-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .process-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }

    .process-item {
      // width: 80px;
      height: 80px;
      padding: 0 15px;
      background: $white;
      color: $text-color;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      text-align: center;
      border-bottom: 1px solid $text-color;
      border-radius: 15%;
    }
  }
}

[data-url] {
  cursor: pointer;
  & * {
    pointer-events: none;
  }
}

.contact-container {
  padding: 30px;
  color: $text-color;
  margin-top: 60px;
  margin-bottom: 60px;
  background: $white;

  .contact-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .contact-text {
    margin-top: 30px;
    text-align: center;
    p {
      display: inline;
    }
  }
}

.article-container {
  width: 75%;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 60px;
  color: $text-color;

  &.full-width {
    padding-top: 0;
    width: 100%;
  }

  h1 {
    margin-bottom: 15px;
  }

  h2 {
    margin-top: 30px;
  }
  video, img {
    margin-left: 30px;
  }
  .article {
    margin-top: 15px;
    line-height: 1.7em;
    &.with-video {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      @media (max-width: 600px) {
        flex-wrap: wrap-reverse;
        video, img {
          margin-bottom: 15px;
          margin-left: 0;
        }
      }
      * {
        display: block;
      }
    }
    &.two-column {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div {
        flex: 1;
        margin-right: 60px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    &.paginator {
      margin-top: 30px;
      padding-bottom: 30px;
      .next {
        float: right;
      }
    }
    p {


    }
    ul {
      margin-top: 15px;
      li {
        margin-left: 45px;
        margin-top: 5px;
        list-style-type: circle;
      }
    }

    ol {
      margin-top: 15px;
      li {
        margin-left: 15px;
        margin-top: 10px;
      }
    }
  }

  .full-size-image {
    width: 100%;
    margin-left: 0;
  }
}

.paginator-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.higlight {
  color: $higlight-color;
}

.thumbnail-container {
  margin-top: 30px;
  width: 100%;
  height: auto;
  cursor: pointer;

  p {
    font-weight: 700;
  }

  img {
    margin-left: 0;
    width: 100%;
  }
}

.image-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px 0;
  margin: 30px 0 60px;
  border-top: 1px solid $grey;
  border-bottom: 10px solid $text-color;

  img {
    height: 400px;
    margin-left: 0;
    -webkit-box-shadow: 0px 9px 62px -10px rgba(50,51,53,1);
    -moz-box-shadow: 0px 9px 62px -10px rgba(50,51,53,1);
    box-shadow: 0px 9px 62px -10px rgba(50,51,53,1);
    cursor: pointer;
  }
}

.rock-and-hunter-logo {
  background: #2B303A;
  padding: 400px 200px;
  margin-top: 100px;
}

.rock-and-hunter-logo-circle {
  background: #ffffff;
  padding: 400px 40%;
}

.rock-and-hunter-separator {
  width: 100%;
  height: auto;
  background: #EF2B3D;
  color: #ffffff;
  text-align: center;
  padding: 60px;

  &.dark {
    background: #696C73;
  }

  p {
    text-align: left;
  }
}

.rock-and-hunter-separator-header {
  font-weight: 700;
  margin-bottom: 10px;
}

.no-margin-top {
  margin-top: 0;
}

.blog-container {
  color: $text-color;
  background: $white;
  padding: 30px;
  margin-top: 60px;

  .blog-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 45px;
    justify-content: space-around;

    .post-container {
      width: 40%;
      height: 40vw;
      max-height: 400px;
      display: flex;
      padding: 15px 30px 30px;
      margin-bottom: 30px;
      flex-direction: column;
      justify-content: flex-start;
      background: darken($white, 4);
      color: $text-color;
      -webkit-box-shadow: 0px 9px 62px -10px rgba(0,0,0,1);
      -moz-box-shadow: 0px 9px 62px -10px rgba(0,0,0,1);
      box-shadow: 0px 9px 62px -10px rgba(0,0,0,1);

      text-decoration: none;
      font-weight: normal;

      &:hover {
        text-decoration: none;
        -webkit-box-shadow: 0px 15px 82px -10px rgba(0,0,0,1);
        -moz-box-shadow: 0px 15px 82px -10px rgba(0,0,0,1);
        box-shadow: 0px 15px 82px -10px rgba(0,0,0,1);
      }
      &:visited {
        text-decoration: none;
      }

      .post-header {
        display: flex;
        flex-direction: row;

        .post-writer-image {
          width: 60px;
          height: 60px;
          background-size: cover;
          border-radius: 50%;
          margin-right: 15px;
        }

        .post-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 5px 0;
        }
      }

      .post-title {
        font-size: 22px;
        font-weight: 700;
        text-align: left;
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .post-image {
        margin-top: 15px;

        img {
          width: 100%;
          height: 180px;
          object-fit: cover;
        }
      }
    }
  }
}
