<% include head %>
<div class="page-content">
  <div class="hero-container prime-video">
    <div class="hero-text">
      Amazon Prime Video Redesign
    </div>
    <div class="hero-text-detail">
      UI Design, Branding, Redesign
    </div>
  </div>
  <div class="article-container full-width">
    <img class="full-size-image" src="resources/prime_video.png" alt="Amazon prime video redesign">
    <div class="article paginator">
      <a  data-url="fest-pack">&#x25C4; Previous project - Festpack</a>
    </div>
  </div>
</div>
<% include foot %>
